html {
	scroll-behavior: smooth;
}

.topHead {
	background-image: linear-gradient(red, yellow, green);
}

body {
	font-family: Avenir;
}

.words {
	color: blue;
}


@media screen and (max-width: 425px) {
	.container {
		padding: 20px;
	}
}
